# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv/
env/
venv/

# Data & models
data/
*.h5
*.ckpt
*.pb

# TensorBoard logs
logs/
events.out.tfevents.*

# OS/Editor files
.DS_Store
